<h2>ABOUT</h2>

<article>
	<p>{{message}}</p>
</article>

<article id="Credits">
	<p>In the mean time some credits/thanks.</p>
	<ul>
		<li><a href="#">AngularJS</a> - Built this site using their framework, pretty nifty things going on there.</li>
		<li><a href="#">Node.js</a> - Built the api service in Node.js using Express and have to say am pretty happy with it!</li>
		<li><a href="http://xmla.com">XMLA</a> - Thanks for awesome hosting!</li>
		<li><a href="http://openshift.com">OpenShift</a> - Great little service using this to host the api server running in node!</li>
	</ul>
</article>
