<h2>HTML5 Form Elements</h2>
<article>
	<form>
		<p>text: <input type="text" name="name"></p>
		<p>email: <input type="email" placeholder="email@domain.com" name="email" required></p>
		<p>color: <input type="color" name="color" required></p>
		<p>date: <input type="date" name="date"></p>
		<p>date/time: <input type="datetime" name="datetime"></p>
		<p>date/time-local: <input type="datetime-local" name="datetime-local"></p>
		<p>month: <input type="month" name="month"></p>
		<p>number: <input type="number" name="number"></p>
		<p>range: <input type="range" name="range"></p>
		<p>telephone: <input type="tel" name="telephpone"></p>
		<p>time: <input type="time" name="time"></p>
		<p>url: <input type="url" name="url"></p>
		<p>week: <input type="week" name="week"></p>
		<input type="submit">
	</form>
<article>
